{% extends 'base.html.twig' %}

{% block title %}New Genre{% endblock %}

{% block body %}
    <h1>Create new Genre</h1>

    <button class="btn">Save</button>

    <a href="">back to list</a>
{% endblock %}